.container {
  text-align: center;
  margin: 0 90px;

  h1 {
    text-transform: uppercase;
  }

  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    overflow-x: hidden;
    width: 60%;
    min-width: 700px;
    margin: auto;

    div {
      display: flex;
      flex-direction: column;

      img {
        height: 600px;
        width: 1000px;
      }
    }
  }

  .button-container {
    position: absolute;
    top: calc(40%);

    .button {
      background: inherit;
      border: none;
      font-size: 100px;
      color: white;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      &__next {
        position: absolute;
        left: 1200px;
      }
      &__prev {
        position: absolute;
        left: 350px;
      }

      &:hover {
        transform: scale(1.5);
      }

      &[disabled],
      &[disabled]:hover {
        opacity: 0.25;
        transform: scale(1);
        cursor: not-allowed;
      }
    }
  }
}
